<div class="da-burga">
  <p class="name">{{name}}</p>

  <button class="button change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
    {{#if eaten}}DEVOURED IT!!{{else}}UNDEVOUR!!(...ew){{/if}}
  </button>

  <button class="button delete-burger" data-id="{{this.id}}">DELETE!</button>
</div>